.nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #ffffff;
  margin: 1rem;
}

/* Smartphones (portrait and landscape) ----------- */
@media (min-width : 320px) and (max-width : 480px) {
  .nav {
    margin: 2rem auto;
  }
  .nav a {
    margin-left: 0.5rem;
    margin-right: 2rem;
    margin-bottom: 0rem;
    display: inline-block;
  }
}
